---
use_title_as_h1: true
---

{%- macro selected_href(url) -%}
{%- if (page.url | lower) == (url + '/') -%}
class="selected" href="{{ url }}"
{%- else -%}
href="{{ url }}"
{%- endif -%}
{%- endmacro -%}

<!DOCTYPE html>
<html>
{%- if redirect %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="Refresh" content="0; url='{{redirect}}'">
</head>
{%- else %}
<head>
  <meta charset="utf-8">
  {%- if title %}
  <title>{{ title }}</title>
  {%- endif %}
  <link rel="stylesheet" href="/_stylesheets/default.css">
  <script src="/_scripts/selector.js"></script>
</head>
<body>
  <div id="selector">
    <form action="">
      <div id="selector-page">
        Page <input id="page-number" value=""> of <span id="pages">1</span>:
        <input id="path" value="">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
        <a href="https://goto.google.com/chromium-site-review">See the full list of pages to review</a>
      </div>
      <div id="selector-version">
        <button id="both">BOTH</button>
        <button id="old">OLD</button>
        <button id="new" class="selected">NEW</button>
      </div>
    </form>
  </div>
  <div id="pages-container">
    <div id="old-page">
      <iframe src="/originals{{ page.url }}"></iframe>
    </div>
    <div id="new-page">
      <header>
        <a href="/">
          <img alt="the Chromium logo" src="/_assets/customLogo.png">
          <h2>The Chromium Projects (staging)</h2>
        </a>
      </header>
      <div id="main-wrapper">
        <nav id="sidebar-left">
          <section>
            <a {{ selected_href("/chromium-projects") }}>Home</a>
            <a {{ selected_href("/Home") }}>Chromium</a>
            <a {{ selected_href("/chromium-os") }}>Chromium OS</a>
          </section>
          <section>
            <h4>Quick links</h4>
            <a href="/for-testers/bug-reporting-guidelines">Report bugs</a>
            <a href="/developers/discussion-groups">Discuss</a>
            <a href="/sitemap">Sitemap</a>
          </section>
          <section>
            <h4>Other sites</h4>
            <a href="https://blog.chromium.org/">Chromium Blog</a>
            <a href="https://developer.chrome.com/extensions">Google Chrome Extensions</a>
          </section>
          <section id="license" role="complementary">
            Except as otherwise
            <a href="https://developers.google.com/site-policies.html#restrictions">noted</a>,
            the content of this page is licensed under a
            <a href="https://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 license</a>,
            and examples are licensed under the
            <a href="https://chromium.googlesource.com/chromium/src/+/HEAD/LICENSE">BSD License</a>.
          </section>
          <a id="edit-this-page" href="https://edit.chromium.org/edit?repo=chromium/website/main&amp;file=site{{page.url}}index.md">Edit this page</a>
        </nav>
        <main>
        {% if breadcrumbs | length -%}
          <nav id="breadcrumbs">
        {%- for link in breadcrumbs -%}
            <a href="{{ link[0] }}">{{ link[1] }}</a> &gt;&nbsp;
        {%- endfor -%}
          </nav>
        {%- endif -%}
        {%- if use_title_as_h1 and title %}
          <h1>{{ title }}</h1>
        {%- endif %}
          {{ content | safe }}
        </main>
      </div>
    </div>
  </div>
</body>
{%- endif %}
</html>
