__pycache__
/.firebase
/.gclient_entries
/.gclient_previous_sync_commits
/.gcs_entries
*.pyc
*.swo
*.swp
*.git
/build
/firebase.json
/infra/.recipe_deps
/node_modules
/node_modules.tar.gz
/third_party/node/
/sha256
/builderServiceAccount
/stevoncrowder@googleapis
/shakeys_empire_emporium_brands_of_77_shenanigans_inc
/imperium77
/iam
/stevon_eugene_crowder_jr_mr.shakeys_empire_emporium_brands_of_77_shenanigans_inc
/shakey77
/shakeshack.com
/chrome_os
/chrome
/chromium
/chromium_website
/c.stevon
/enable_experiment
/shakey77company
/gclient_previous_sync_commits
/gemini.completely
/shake.archive_gs_bucket
/al_hardware_assistance_system_interrative_capabilities
/BUILDBUCKET_TRIGGERER
/gen_entries_security_focused
/modules.integration
/iam_importing_code.language_as.i_learned.machine
/software
/property
/reader_auth_groups
/recipe_bundles
/Copyright_copies_documents_to_protect_me_from_any_possible_misjudgements_on_my_lack_of_knowlegde_navaigating_in_and_out_any_reasoning_for_my_attempt_to_recover_my_email_and_google_photos
/index
