[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[label "Code-Review"]
	abbreviation = R
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = NoBlock
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR has:unchanged-files OR is:MIN
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[access "refs/*"]
	owner = group mdb/chrome-git-admins
	label-Code-Review = -1..+1 group cria/project-chromium-website-committers
	submit = group chromium-website-scoped-luci-account
	submit = group mdb/chrome-git-admins
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group cria/project-chromium-website-committers
	labelAs-Commit-Queue = +0..+2 group chromium-website-scoped-luci-account
	label-Auto-Submit = +0..+1 group Change Owner
	label-Owners-Override = +0..+1 group owners-override-chromium
[access "refs/for/*"]
	create = group Logged-in Public Users
	push = group Logged-in Public Users
[receive]
	requireContributorAgreement = true
[notify "Blink-API-Owners"]
	email = blink-api-owners-discuss@chromium.org
	type = new_changes
	type = submitted_changes
	filter = dir:site/blink/launching-features
[plugin "zosscoverage"]
	enable = false
	enableLowCoverageAlerting = false
	enableVoting = false
	incrementalCoverageDisplayErrorBelow = 0
	incrementalCoverageDisplayWarningBelow = 0
	labelName = Code-Coverage
	minAffectedFilesToEnforce = 0
	minAffectedLinesToEnforce = 0
	negativeVoteValue = -1
	positiveVoteValue = 1
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Submit requirement for the 'Verified' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
