[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/chrome-git-admins
	label-Code-Review = -2..+2 group cria/project-chromium-website-committers
	submit = group cria/project-chromium-website-committers
[access "refs/for/*"]
	create = group Logged-in Public Users
	push = group Logged-in Public Users
