[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[label "Auto-Submit"]
	function = NoBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = 0 Do not send CL to CQ automatically after approval
	value = +1 Send CL to CQ automatically after approval
[label "Code-Review"]
	abbreviation = R
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0
[access "refs/*"]
	owner = group mdb/chrome-git-admins
	label-Code-Review = -1..+1 group cria/project-chromium-website-committers
	submit = group chromium-website-scoped-luci-account
	submit = group mdb/chrome-git-admins
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group cria/project-chromium-website-committers
	labelAs-Commit-Queue = +0..+2 group chromium-website-scoped-luci-account
	label-Auto-Submit = +0..+1 group Change Owner
	label-Owners-Override = +0..+1 group owners-override-chromium
[access "refs/for/*"]
	create = group Logged-in Public Users
	push = group Logged-in Public Users
