#LOB (large objects/binaries) ignores are listed below. These are maintained by
#the upload_lobs script and should not need to be modified manually
#start_lob_ignore
*.ai
*.bin
*.bmp
*.brd
*.bz2
*.config
*.crx
*.dia
*.gif
*.graffle
*.ico
*.jpg
*.jpeg
*.mp4
*.msi
*.pdf
*.png
*.PNG
*.svg
*.swf
*.tar.gz
*.tiff
*_trace
*.webp
*.xcf
*.xlsx
*.zip
#end_lob_ignore
