---
permalink: /algolia.json
templateEngineOverride: njk
layout: "raw.njk"
---

[
{%- set isFirst = true -%}
{%- for page in collections.allSortedByLowerCasedUrl -%}
    {%- if not page.url.includes("/algolia.json") 
           and not page.url.includes("/robots.txt") 
           and not page.url.includes("/sitemap.xml") -%}
        {%- if not isFirst -%},{%- endif -%}
        {
            "objectID": "{{ page.url | safe }}",
            "title": {{ page.data.title | jsonify | safe }},
            "url": "{{ page.url | safe }}",
            "hierarchy": {
                "lvl0": {{ page.data.title | jsonify | safe }},
                "lvl1": {{ page.data.title | jsonify | safe }}
            },
            "content": {{ page.templateContent | striptags | truncateBytes(10000) | jsonify | safe }}
        }
        {%- set isFirst = false -%}
    {%- endif -%}
{%- endfor -%}
]
